<div class="image-gradient-dynamic">
  <%= image_tag "bg/insurance/#{action}.png" %>
  <div class="overlay"></div>
  <div class="copy">
  <h3 class="insurance-header"><%= action %> Coverage</h3>
  </div>
</div>