<div class="forms">
  <%= render "quotes/auto_quote_form" %>
</div>
<%= render "insurance/hero", action: :auto %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      Drivers Overpay an Average of $368  on Car Insurance Every Year.
    </h2>
    <p>
      Driving can be challenging, with a variety of different types of roads and highways as well as fairly heavy traffic and a number of visual distractions. Accidents do happen, and whether you live in the state permanently or are just there temporarily, your are required by law to be able to cover the costs of any car accident that you cause. 
    </p>
    <h3>
       Auto Coverage - The Facts: 
    </h3>
    <p>
      If you wanted to get the bare minimum insurance as required by law, you would need liability insurance ($15,000 per person for injury and $5,000 for property damage). If you've financed your automobile, you will probably be required by your finance company to carry more insurance, most likely comprehensive and collision. These coverages basically make sure that the cost of repairing or replacing your vehicle is covered in any accident and in many other damaging circumstances, as well. To protect yourself, you might also want to add coverages like uninsured/underinsured motorist. There are other options to consider, too, like roadside assistance or rental car coverage. You might be required to have gap insurance if you lease a car. The car dealer usually provides the coverage, and the cost is included in your lease
      Sorting through all of these insurance options yourself can be a daunting task, but luckily we can help. 
    </p>
    <h3>
      What Basic Auto Insurance Typically Covers: 
    </h3>
    <ul class="list list--dots">  
      <li>
        Liability insurance
      </li>
      <li>
        Personal injury protection or medical payments
      </li>
      <li>
        Uninsured or underinsured motorist coverage
      </li>
    </ul>
    <h3>
      What Basic Auto Insurance Does Not Cover?
    </h3> 
    <ul class="list list--dots">
      <li>
        Personal belongings in your car
      </li>
      <li>
        People who live with you but aren’t listed on the policy
      </li>
      <li>
        Your car loan (if your vehicle is totaled)
      </li>
      <li>
        Custom parts and equipment
      </li>
      <li>
        Business use
      </li>
    </ul>
    <h3>
      Most Insurance Companies Offer the Following Discounts:
    </h3> 
    <ul class="list list--dots">
      <li>
        Company Car
      </li>
      <li>
        Loyalty discount
      </li>
      <li>
        Multiplie Vehicles
      </li>
      <li>
        Multi-Policies
      </li>
      <li>
        Mature Drivers
      </li>
      <li>
        Paid in Full Discount
      </li>
      <li>
        Safe Drivers
      </li>
      <li>
        Safety Features
      </li>
      <li>
        Students
      </li>
    </ul>
</div>
  <%= render "insurance/sidebar", action: :auto %>
</article>
<%= render "insurance/insurance_footer" %>
