<div class="forms">
  <%= render "quotes/boat_quote_form" %>
</div>


<%= render "insurance/hero", action: :boat %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
<h2>
  High seas, low fees.
</h2>
<p>
  Hitting the open water is a perfect way to take a break from everyday life and relax with family, friends, or by yourself. But accidents, injuries, and theft happen all too often. Boat insurance is one of the most important safe guards you can have for your watercraft. Protecting your investment ensures peace of mind during your free time.
</p>
<h3>
  Boat Insurance Coverage - The Facts: 
</h3>
<p>
  Boat insurance is often necessary. There are two main types of insurance plus additional coverage options available. Generally, you want property protection that will protect the value of the boat, equipment, and accessories associated to owning the property. If you are in an accident, this type of insurance may help to cover those risks. Additionally, there is the need for liability insurance. If you or your boat should cause an accident with the boat to another person or other property, liability insurance may help to reduce the out of pocket costs you need to pay.
</p>
<p>
  Apart from your state, other interested parties may require you to have boat insurance. If you take out a loan to buy a boat, for example, your lender may require you to insure it to protect itself from the risk of loss or damage. Also many marinas require proof of coverage before allowing you to dock.
</p>
<h3>
  What Boat Insurance typically covers: 
</h3>
<p>
  The most important thing covered is you.
</p>
<ul class="list list--dots">
  <li>
    Personal Liability
  </li>
  <li>
    Boat
  </li>
  <li>
    Motor
  </li>
  <li>
    Trailer
  </li>
  <li>
    Medical and physical damage perils
  </li>
  <li>
    Personal possessions on board
  </li>
  <li>
    Damage caused by an uninsured boater
  </li>
  <li>
    Injuries that occur during boating accidents
  </li>
</ul>
<h3>
  What Boat Insurance Typically Does Not Cover: 
</h3> 
<ul class="list list--dots">
  <li>
    Beverages, food and other perishables
  </li>
  <li>
    Cellular phones, cameras or video recorders
  </li>
  <li>
    ParasaiIs, hang gliders or other devices designed for flight
  </li>
  <li>
    Portable televisions, stereos, tape decks or other recording devices  
  </li>
  <li>
    Scuba and other diving equipment
  </li>
  <li>
    Sail, masts, or spars while boat is operating in an official race
  </li>
</ul>
</div>
  <%= render "insurance/sidebar", action: :boat %>
</article>
<%= render "insurance/insurance_footer" %>