<div class="forms">
  <%= render "quotes/commercial_quote_form" %>
</div>
<%= render "insurance/hero", action: :commercial %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      Protect your business. We’ll help you find the right coverage.
    </h2>
    <p>
      Commercial insurance isn't an option, it's something you simply need to have to protect your business. Working with our independent agents, it is possible to find affordable insurance that meets your specific needs. Most importantly, we'll help you feel confident that your business is protected. Before you can choose an insurance plan, it's a good idea to know what your options are.
    </p>
    <h3>
      Types of Commercial Insurance: 
    </h3>
    <h4>
      Commercial Auto Insurance
    </h4>
    <p>
      Auto insurance for a business is important. Even if you operate just one vehicle in your business, commercial auto is essential. Plans may help cover risks against the vehicle, inventory, and equipment within it. Talk to us about your options in liability and property protection including for fleets. Ensure your drivers are protected on the road.
    </p>
    <h4>
      Commercial General Liability Insurance (CGL)
    </h4>
    <p>
      Commercial general liability insurance, also called CGL, provides liability protection from some types of risks. If a customer slips and falls on your property or you are sued for a defective product or service, this type of insurance may help to reduce your risks of paying out of pocket for these services.
    </p>
    <h4>
      Commercial Property Insurance
    </h4>
    <p>
      Commercial property insurance is also important even if you do not own the building that your business operates out of. This type of insurance may help to minimize financial risks associated with damage to your building, signage, or even your equipment and inventory within it. Talk to us about your options as the building owner as well as a lease holder of the property.
    </p>
    <h4>
      Workers' Compensation
    </h4>
    <p>
      Keeping your employees safe is important as well. Injuries and illnesses can occur on any job site. However, with a quality workers' compensation plan in place, you'll have no trouble minimizing risks associated with work-related accidents and injury. You can depend on our team to help you find affordable plans that meet any state requirements.
    </p>
    <h4>
      Business Owner Package (BOP)
    </h4>
    <p>
      Liability insurance can be overwhelming. That's where Business Owner Package can help. This type of insurance helps to make purchasing insurance easier to do and more affordable. It gives you access to the plan you need at an affordable rate.
    </p>

</div>
  <%= render "insurance/sidebar", action: :commercial %>
</article>
<%= render "insurance/insurance_footer" %>