<%= render "quotes/condo_quote_form" %>

<%= render "insurance/hero", action: :condo %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      Your association covers some — but not all. 
    </h2>
    <p>
      When it comes to protecting your home, having the right insurance is necessary. Condo insurance is different from homeowners or renter's plans. It's important to ensure you get into a plan that meets your financial needs. When it comes to providing you with affordable rates, talk to us. We’ve done the research.
    </p>
    <h3>
      Condo Insurance Coverage - The Facts: 
    </h3>
    <p>
      What makes condo insurance different than other types of property insurance is the ownership component. Often times, a group plan is in place to cover the structural components of the condo, since these are often shared parts of the buildings. For example, the exterior structure, pool, fitness center, and other shared amenities are covered by a group plan. However, your possessions are not a part of that plan. That's why you need a separate, comprehensive plan.
    </p>
    <p>
      Your condo insurance should include coverage for property, including all of your possessions for risks such as theft, fire, and vandalism. In addition, you may need to have condo insurance that has liability protection. This can help to minimize risks associated with lawsuits filed against you.
    </p>
    <h3>
      What Condo Insurance typically covers: 
    </h3>
    <p>
      In most cases the association's coverage stops after the exterior walls meaning that you are responsible for the interior walls and possibly for fixtures, as well as your personal property and liability. This is where your own personal condo policy would come in. Most policies will include coverage for losses arising from:
    </p>
    <ul>
      <li>
        Fire or Lightning
      </li>
      <li>
        Windstorm
      </li>
      <li>
        Smoke
      </li>
      <li>
        Vandalism or Malicious Mischief
      </li>
      <li>
        Theft
      </li>
      <li>
        Accidental Discharge of Water
      </li>
    </ul>
  </div>
  <%= render "insurance/sidebar", action: :condo %>
</article>
<%= render "insurance/insurance_footer" %>