<div class="forms">
  <%= render "quotes/flood_insurance_quote_form" %>
</div>
<%= render "insurance/hero", action: :flood %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      Prepare for the unexpected.
    </h2>
    <p>
      For many homeowners flood insurance is sometimes a necessary type of investment. For those people who live near a coastline or in a flood zone, this type of insurance is necessary to prevent financial loss from a flood. However, many standard homeowners insurance plans simply don't cover floods even though you are at risk for them. That means you'll need to purchase this type of additional policy as an add-on to your current plan.
    </p>
    <h3>
      Flood Insurance Coverage - The Facts: 
    </h3>
    <p> 
      Many insurance companies offer flood insurance as an add-on policy to a standard homeowner's insurance plan. Floods are often an exclusion on standard policies. This means that you may not have coverage should a flood event occur that leaves you with losses related to it, such as lost property from water damage or clean up costs. With an additional policy, though, you may be able to gain this type of protection. You can have peace of mind.
    </p>
    <h3>
      What Basic Flood Insurance Typically Covers: 
    </h3>
    <p> 
      Building property: the building and its foundation; plumbing and electrical systems; central air and heating systems; attached bookcases, cabinets and paneling; and a detached garage (other detached structures need their own policy).
      Personal contents: clothing, furniture and electronics; curtains; some portable appliances; freezers and the foods within them; and certain valuables like art (up to a specified limit).
    </p>
    <h3>
      What Basic Flood Insurance typically does not cover: 
    </h3>
    <ul class="list list--dots">  
      <li>
        Post moisture or mold/mildew damage 
      </li>
      <li>
        Currency and precious metals, and paper valuables like stock certificates
      </li>
      <li>
        Outdoor property like decks, fences, patios, landscaping, hot tubs and pools  
      </li>
      <li>
        Living expenses, like temporary housing 
      </li>
      <li>
        Cars and other self-propelled vehicles  
      </li>
      <li>
        Coverage is limited for basements
      </li>
    </ul>
    <p>
      The key is to find an affordable plan for flood insurance.  We'll help you to find carriers in the area that offer this type of insurance at affordable rates.
    </p>
  </div>
  <%= render "insurance/sidebar", action: :flood %>
</article>
<%= render "insurance/insurance_footer" %>