<%= render "quotes/health_insurance_quote_form" %>

<%= render "insurance/hero", action: :health %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      If you don’t have health insurance, you could be fined up to $325 or 2% of your income.
    </h2>
    <p>
      If you don’t have health insurance through a job, Medicare, Medicaid, the Children’s Health Insurance Program (CHIP), or another source that provides qualifying coverage, we can get help you get covered.
    </p>
    <h3>
      Health Insurance Coverage - The Facts: 
    </h3>
    <p>
      Health insurance provides options for preventative health care at a reasonable cost. It can also help you with medical bills at a threshold on out-of-pocket expenses, freeing up income you may have had to spend. If you have a family or children, having health insurance should not be an option—it’s a must. Every person or family has special circumstances – you need to be aware of the best coverage available that will address your particular situation.
    </p>
    <p>
      If you don’t have health insurance, you may have to pay a fee. Don’t put yourself or your family in jeopardy! You never know when you may need health insurance, but it’s good to have an effective policy just in case.
    </p>
    <h3>
      What Basic Health Insurance Typically Covers: 
    </h3>
    <ul class="list list--dots">
      <li>
        Outpatient care
      </li>
      <li>
        Emergency room visits
      </li>
      <li>
        Inpatient care
      </li>
      <li>
        Care before and after your baby is born
      </li>
      <li>
        Pediatric services
      </li>
      <li>
        Mental health and substance use disorder services 
      </li>
      <li>
        Prescription drugs
      </li>
      <li>
        Preventive services including counseling, screenings, and vaccines.
      </li>
      <li>
        Physical and occupational therapy, psychiatric rehabilitation, and more.
      </li>
    </ul>
  </div>
  <%= render "insurance/sidebar", action: :health %>
</article>
<%= render "insurance/insurance_footer" %>