<div class="forms">
<%= render "quotes/property_quote_form" %>
</div>
<%= render "insurance/hero", action: :property %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>Risks are still present even in the most well maintained homes.</h2>
    <p>
      You may have a home security system and lock your doors at night. You likely keep it safe and clean. However, protecting your home is one of the most important things you can do. 
    </p>
    <h3>Home Coverage - The Facts: </h3>
    <p>
      Balboa Pacific offers cost effective insurance plans that can help protect against many risks you currently face. This may include risks associated with theft, fires, and vandalism. You also may need insurance that reduces your financial loss in liability situations, such as someone being hurt on your property. In fact, your mortgage lender generally requires you to have homeowners insurance.
    </p>
    <p>
      The most affordable policy depends on the unique features of your home such as it’s value, whether it’s new or an older home, whether it’s located near a brush fire hazard and whether there any prior claims attached.
    </p>
    <p>
      Matching your specific home's features with the right insurance company can save you hundreds of dollars.
    </p>
    <h3>
      What Home Owners Insurance Typically Covers: 
    </h3>
    <p>
      Most homeowners insurance policies will cover damage caused by such perils as fire, windstorms, hail, lightning, theft or vandalism. There are other homeowners policies that cover additional perils as well. Typically, floods and earthquakes are excluded and require additional coverage.
    </p>
    <h3>
      What Does Home Owners Insurance Not Cover?
    </h3>
    <p>
      It will not cover maintenance issues with your home. If your roof is falling apart or your garage door stops working, insurance will not pay to have it repaired. Your policy will also not cover losses resulting from flood or earthquake. Talk to us if you think you might benefit from an earthquake or flood policy. 
    </p>
    <h3>Most Insurance Companies Offer the Following Discounts:</h3>
    <ul class="list list--dots">
      <li>Multi policies.</li>
      <li>Loyalty discount</li>
      <li>Claims Free</li>
      <li>New electrical, plumbing and heating systems.</li>
      <li>Smoke detectors</li>
      <li>Dead-bolt locks</li>
      <li>Security and fire alarm system</li>
      <li>Fire extinguisher </li>
    </ul>
</div>
  <%= render "insurance/sidebar", action: :property %>
</article>
<%= render "insurance/insurance_footer" %>