<div class="forms">
  <%= render "quotes/jewelry_quote_form" %>
</div>
<%= render "insurance/hero", action: :jewelry %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      Did you know most regular insurance doesn’t cover your jewelry?
    </h2>
    <p>
      You have many adventures waiting for you in the future. From a road trip cross country to scuba diving somewhere exotic, or just gardening in your own backyard, you have plenty to do. However, have you considered what might happen if you lose your diamond ring or favorite watch during an outing? You may think you are covered, but you may not be.
    </p>
    <h3>
      Jewelry Insurance Coverage - The Facts: 
    </h3>
    <p>
      A home or renter’s insurance policy does cover your personal belongings. What you may not realize is that there are limits to the amount of coverage for some items. 
      Your policy normally has limits set for special items like jewelry, art and collectibles. The limit may be a certain amount per piece or for the total collection. If you have a $5,000 ring, you may only be covered for a fraction of the amount.
    </p>
    <h3>
      Tips for protecting your jewelry:
    </h3>
    <ul class="list list--dots">
      <li>
        Make sure it is insured for the right amount
      </li>
      <li>
        Have the item appraised
      </li>
      <li>
        Keep a copy of the store receipt
      </li>
      <li>
        Take a picture of the item
      </li>
      <li>
        Keep your jewelry in a secure place such as a safe-deposit box
      </li>
      <li>
        When traveling only bring the jewels you are going to wear
      </li>
      <li>
        Never leave jewelry in your luggage while being transported   
      </li>
      <li>
        Have your jewelry inspected regularly
      </li>
    </ul>
    <p>
      To make sure you are protected, you need to add a rider or floater to your policy. You will need to have any pieces appraised by a professional as proof of value. Then simply contact us and we will show you how easy it is to protect your jewelry investment. We compare the rates from all major carriers, saving you the time while getting the lowest insurance premiums.
    </p>
  </div>
  <%= render "insurance/sidebar", action: :jewelry %>
</article>
<%= render "insurance/insurance_footer" %>