<div class="forms">
  <%= render "quotes/landlord_quote_form" %>
</div>


<%= render "insurance/hero", action: :landlord %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      As a Landlord, it is important to protect your investment.
    </h2>
    <p>
      As a landlord renting out an investment property, we know that you have a lot going on. The list is long with finding the right tenants, keeping up with repairs and general tenant concerns. Having the right coverage in place will help alleviate worry by knowing you are protected against common problems that may arise. 
    </p>
    <h3>
      Landlord  Insurance Coverage - The Facts: 
    </h3>
    <p> 
      When you are a landlord, the coverage that you need for your rental properties is very different from the basic policies that a homeowner may want. Although you do want to make sure that your policy will cover the possibility of fires, storm damage or related concerns, it is important for you to purchase a plan that is specifically designed for a property that you are allowing a tenant to rent.
    </p>
    <P>
      Coverage can depend on your goals and concerns, but you should purchase a plan that covers most common threats like floods, fires or vandalism. Coverage for personal belongings may not be necessary unless you are also living in the house and decide to rent out a second unit that is part of the property.
    </P>
    <h3>
      What Landlord Insurance Typically Covers
    </h3>
    <ul class="list list--dots">
      <li>
        Liability
      </li>
      <li>
        Fair Rental Value Coverage
      </li>
      <li>
        Inflation Protection
      </li>
      <li>
        Personal Injury Protection
      </li>
      <li>
        Lock Replacement
      </li>
    </ul>
    <h3>
      Landlord Discounts
    </h3>
    <p> 
      Landlords often qualify for discounts. We will help you find a variety of discounts to keep costs affordable. Examples include:
    </p>
    <ul class="list list--dots">  
      <li>
        Multi-policy
      </li>
      <li>
        Early Shopper
      </li>
      <li>
        New/Renovated Home
      </li>
      <li>
        Exclusive Group Savings: 
      </li>
    </ul>
    <h3>
      Additional Landlord Benefits
    </h3>
    <p> 
      Many carriers offer additional benefits than just basic insurance coverage. We will help find you the ones that are best for you. Examples include:
    </p>
    <ul class="list list--dots">
      <li>
        Emergency Repair Service
      </li>
      <li>
        24-Hour Claims Assistance
      </li>
      <li>
        Contractor Network Referral
      </li>
      <li>
        Manage Your Policy Online
      </li>
      <li>
        Convenient Payment Options
      </li>
      <li>
        Paperless Billing 
      </li>
    </ul>

  </div>
  <%= render "insurance/sidebar", action: :landlord %>
</article>
<%= render "insurance/insurance_footer" %>