<div class="forms">
  <%= render "quotes/life_insurance_quote_form" %>
</div>
<%= render "insurance/hero", action: :life %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      If anyone relies on you financially,  you need life insurance.
    </h2>
    <p>
      Often times, people put off getting life insurance. Yet, the longer you do this, the more expensive and harder to get it can be. Take a moment and let our independent agency help you find quality, affordable life insurance that will give you peace of mind.
    </p>
    <h3>
      Life Insurance Coverage - The Facts: 
    </h3>
    <p>
      Life insurance protects anyone who depends on you financially. If you die unexpectedly, life insurance provides money that can offset the sudden loss of income.
    </p>
    <p>
      Fewer than half of middle-market consumers ages 25 to 64 have individual life insurance coverage. Forty-four percent of those without life coverage say they need it, and 3 in 10 think they might buy in the next year. (Source: LIMRA)
    </p>
    <p>
      A number of plan types are available, including term and whole life policies. Some allow you to borrow against them and earn value over their lifetime. You can find insurance that's right for any level of coverage you need.
    </p>
    <h3>
      How To Choose A Policy?
    </h3>
    <p>
      First, you need to choose a policy type. The two major types of life insurance are permanent and term. For the majority of consumers, term life insurance is the right choice. Term insurance covers you for a set amount of time, and the benefit can be used to cover any expenses in case you die. When choosing a policy, you should keep your goals in mind. If you are a new parent, you want to make sure your policy will cover any child care, education and other costs for your children. If you own a home, you want to make sure your spouse will be able to afford the mortgage payments without your income.
    </p>
    <p>
      Once you choose a policy type, you need to determine a policy amount. When choosing a policy amount, you need to keep your financial obligations in mind. If you are a parent, you will most likely want to cover child care and education costs. If you’re a homeowner, you will probably want to cover your mortgage.
    </p>
    <p>
      With term life insurance, in addition to choosing a policy amount, you will have to decide a policy duration. Policies can last for up to 30 years. To choose a term life insurance policy duration, you should take your longest lasting financial obligation into account. For example, if you have 30 years left in your 30-year mortgage, you will most likely want to get a 30-year life insurance policy as well.
    </p>
    <h3>
      What Happens After I Apply?
    </h3>
    <p>
      For most policies, you will have to complete a health exam. The insurance company you're applying to will send a healthcare professional to your home or office. We’ll ask you questions about your family medical history and lifestyle.
    </p>
    <p>
      Once you are approved for life insurance, be sure to pay your premiums on time. As you experience life changes, your life insurance needs will change as well. If you buy a new home, get married or have more children, you might want to revise your policy.
    </p>
  </div>
  <div class="sidebar">
    <h2 class="sidebar--light">
      Quickly Compare the Best Life Term Rates from the Top Trusted Insurance Carriers
    </h2>
    <script id="strife" class="btn btn--white" src="https://d3qi7101entfyu.cloudfront.net/production/strife.js" data-strife-key="djIDVXOMTUYkmdrF"></script>
  </div>
  <%= render "insurance/sidebar", action: :life %>
</article>
<%= render "insurance/insurance_footer" %>