<div class="forms">
  <%= render "quotes/motorcycle_quote_form" %>
</div>
<%= render "insurance/hero", action: :motorcycle %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      Motorcyle riding gives you a sense of freedom that you don’t get in a car.
    </h2>
    <p> 
      You can spend hours enjoying a ride on the coastal highway, State Route 1. Even though you ride, you still have to maintain the minimum liability requirements for the state. At Balboa Pacific Insurance Services, we make it easy to deal directly with an independent insurance agent or compare rates online.
    </p>
    <h3>
      Motorcycle Insurance Coverage - The Facts: 
    </h3>
    <p> 
      In most states motorcyle coverage is required, just like any area of the state. You must be covered by a deposit, surety bond, self-insurance certificate or insurance agency policy. Minimum liability insurance is just that, it covers the injuries or damages when you are found at fault in an accident.
    </p>
    <p> 
      While your motorcycle may not cause large amounts of property damage, the costs of physical injuries that can occur are high. In addition, your basic policy is only providing protection for others injured in an accident. You should really consider how much insurance coverage you have and how much you really might need.
    </p>
    <h3>
      Motorcyle Insurance Coverage Basics: 
    </h3>
    <p> 
      Bodily injury and property damage liability cover you in the event of an at-fault accident. Comprehensive and collision coverage for motorcycles will help you repair or replace a damaged or stolen bike. Other states may require additional motorcycle coverage, such as uninsured/underinsured motorist coverage.
    </p>
    <p> 
      Depending on your policy, motorcycle insurance may cover theft. Most, if not all, comprehensive insurance policies cover theft of your motorcycle whether it happens at home, on the road, or during transport. Comprehensive coverage also pays for anything that might be stolen from your bike, such as mirrors, a radio, helmets, or other accessories. Most pay out if the loss exceeds your deductible.
    </p>
    <p> 
      Lower deductibles will require you to pay more for premiums, but you can determine the amount of deductible at the time you purchase your policy. Be sure to keep records of any add-ons or modifications you have made to your bike that affect its value.
    </p>
    <p> 
      Whether or not other riders are covered by your motorcycle insurance depends entirely on your policy and your provider. If you buy only the minimum liability coverage, other riders may not be covered. Moreover, coverage depends on whether the other rider was a passenger while you operated the bike, or whether you had loaned the bike for someone else to ride. You can only receive a definitive answer to this question by reviewing your insurance policy with your insurance agent. This is an important question, so make sure you bring it up when you ask your insurance agent for rates and policy information.
    </p>

  </div>
  <%= render "insurance/sidebar", action: :motorcycle %>
</article>
<%= render "insurance/insurance_footer" %>