<div class="forms">
  <%= render "quotes/renters_quote_form" %>
</div>
<%= render "insurance/hero", action: :renters %>
<article class="container">
  <div class="skinny_wrapper skinny_wrapper--article pull_up article-type-system">
    <h2>
      Many Renters underestimate the value  of their possessions.
    </h2>
    <p>   
      Since all rental properties are susceptible to a variety of damages, whether it be fire, theft or even a broken kitchen appliance, many experts say there isn't a scenario in which a tenant should go without renters insurance. 
    </p>
    <h3>
      Renters Insurance Coverage - The Facts: 
    </h3>
    <p>
      Renters usually think they do not have enough stuff to warrant a renters insurance policy. This is a misperception. The average renter owns about $20,000 in personal property and is 25 percent more likely to be burglarized than someone who owns a home. The best part is that renters coverage protects your belongings anywhere in the world — whether they're stolen from the trunk of your car or out of your backpack on your vacation.
    </p>
    <p>
      Most renters think they are covered by their landlord insurance. Occasionally, a landlord may partner with an insurance company to offer renters insurance to tenants, but more frequently, the insurance policies that landlords hold only protect the building itself. If you're sued because someone was hurt in your apartment or because you (or someone covered under your policy) accidentally injured someone, renters insurance can provide liability coverage for legal costs. The limits of personal liability coverage vary, so check to see what your limits are when getting a quote.
    </p>
    <p>
      Unlike car insurance or a typical homeowners insurance policy, a renters insurance plan is not a large additional monthly cost. For less than about $20 a month, all your personal property can be protected.
    </p>
    <h3>
      What Renters Insurance Typically Covers
    </h3>
    <ul class="list list--dots">  
      <li>
        Personal property
      </li>
      <li>
        Personal liability
      </li>
      <li>
        Medical payments
      </li>
      <li>
        Property damage to others
      </li>
      <li>
        Additional living expenses
      </li>
    </ul>
    <h3>
      What Renters Insurance Typically Does Not Cover
    </h3>
    <p>
      Flood and earthquake insurance aren't included in a standard renters policy. If you live in areas prone to floods or earthquakes, ask your agent about the cost of adding these coverages.
    </p>
    <h3>
      Renter Insurance Discounts 
    </h3>
    <p>
      Many carriers offer additional benefits than just basic insurance coverage. We will help find you the ones that are best for you. Examples include:
    </p>
    <ul class="list list--dots">  
      <li>
        Multi-policy
      </li>
      <li>
        Alarm and/or fire protection devices
      </li>
      <li>
        Non-smokers
      </li>
      <li>
        Higher deductibles
      </li>
    </ul>
  </div>
  <%= render "insurance/sidebar", action: :renters %>
</article>
<%= render "insurance/insurance_footer" %>