<div class="image-gradient-dynamic whoweare">
  <%= image_tag "bg/whoweare/hero-whoweare.png" %>
  <div class="overlay"></div>
  <div class="copy">
	<h2 class="">We Represent You.
	</h2>
	<p>(Not the Insurance companies)</p>
  </div>
</div>
