<div class="image-gradient-dynamic">
  <%= image_tag "bg/hp.jpg" %>
  <div class="overlay"></div>
  <div class="copy">
	<h2 class="">Play More. Worry Less.</h2>
    <p class="">We represent  you. Not the insurance companies.</p>
    <%= link_to "Get A Quote", quote_path, :class=>"btn btn--white" %>
  </div>
</div>
