// Grayed Logos

.logo-section {
	display: none;
	@include media($large-screen) {
		display: block;
	}

}
#insurance-logo-group {
	text-align: center;
	@include clearfix;
	@include pad(50px 25px 25px);
	
	li:not(:nth-child(5)) {
		margin-bottom: 25px;
	}
	li:nth-child(3){
		margin-top: 12px;
	}
	li:last-child{
		margin-top: -16px;
	}

}

.intro,
.insurance-type-slide,
.customer-quotes{
	padding: 25px 0px;
	aside {
		letter-spacing: 1px;
		h2 {
			color: #212121;
			font-family: $styled-font;
			font-weight: lighter;
		}
	}
}

.quote-author {
	display: block;
	font-weight: bold;
	color: #9b9b9b;
}

.insurance-type-slide {
	display: none;
	&--content {
		.copy {
			h2 {
				display: inline;
				padding: 10px 20px;
				border: 2px solid #fff;
				font-size: 28px
			}
		}
	}
}

#quote-slider {
	.owl-buttons{
		display: none;
	}
}